# requirements.txt
tensorflow-cpu==2.16.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scikeras==0.13.0
tensorboard==2.16.2
streamlit==1.38.0
matplotlib==3.8.4
toml==0.10.2
tornado==6.5.2
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
protobuf>=3.20,<5
setuptools>=65,<72
wheel
